{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart!</h1>
            <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Vadodara, Gujarat India. Founded by Harsh Mayani in 2023, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.My Awesome Cart held a 39.5% market share of India's e-commerce industry.My Awesome Cart is significantly dominant in the sale of apparel and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.My Awesome Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).In August 2023, U.S.-based retail chain Walmart acquired a 77% controlling stake in My Awesome Cart for US$16 billion, valuing it at $22 billion.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
    <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Leave a Mark</h2>
                <p>We're known more by the impact we create than the titles we hold. Impact that is brought by working together on audacious challenges at scale with an aim to revolutionize for the Indian customer. We believe great ideas can emerge from anywhere and must be backed. Our people - backed by our culture of end-to-end ownership - have revolutionised India's e-commerce sector - several times over!</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Work With The Best</h2>
                <p>The best people make the best teams. And we put all our efforts into finding the right people that fit into our high-performing inclusive teams. Everyone has a voice on the table and diversity of thoughts, styles and actions is celebrated. From a category leader to a wishmaster, we are all bound together and guided by our values of audacity, bias for action, customer-first, integrity and inclusion.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
            <h2>We Care</h2>
            <p>Our culture of care extends to our people, stakeholders, customers and the planet! We do not believe in a one size fits all strategy. Our benefits and care policies are driven by empathy and customised to the unique needs of individual Flipsters. Because when Flipsters and their families are cared for, they can focus on doing their best work. We put your hopes, dreams and endeavours first - always.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}
